[submodule "spring-ms-pagamentos"]
	path = spring-ms-pagamentos
	url = git@github.com:slackwarecps/spring-ms-pagamentos.git
[submodule "spring-ms-pedidos"]
	path = spring-ms-pedidos
	url = git@github.com:slackwarecps/spring-ms-pedidos.git
[submodule "eureka-server"]
	path = eureka-server
	url = git@github.com:slackwarecps/eureka-server.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:slackwarecps/gateway.git
